{% extends 'base.html' %}
{% block content %}
  

<h1>recommend</h1>

{% if genre_movies %}
  <p>{{ user.username }}님이 선호하는 {{ genre_pick }}장르 영화</p>
  {% for genre_movie in genre_movies %}
    <img src="{{ genre_movie.poster_path }}"  width="200px" height="300px">
  {% endfor %}
{% endif %}
<hr>

{% if following_movies %}
  <p>{{ user.username }}님이 팔로우하는 유저의 인생 영화</p>
  {% for following_movie in following_movies %}
    <img src="{{ following_movie.poster_path }}"  width="200px" height="300px">
  {% endfor %}
{% endif %}
<hr>



{% endblock  %}
</body>
</html>
