{% extends 'base.html' %}
{% block content %}




<div class="row">
<div class="col-md-12 text-center">
  <img style="border-radius: 50%" src={% if person.profile.image %}"{{ person.profile.image.url }}"{% endif %}"https://i.stack.imgur.com/34AD2.jpg" width=250 height=250>
  <h3>{{ person.username }}</h3>
  <p>{{ person.profile.description }}</p>
  {% if user == person %}
  <a href="{% url 'accounts:update' %}"><button type="button" class="btn btn-outline-secondary">회원정보 수정</a>
  {% else %}
  <form id="follow-form" action="{% url 'accounts:follow' person.pk %}" method="POST">
    {% csrf_token %}
    {% if user in person.followers.all %}
      <button class="btn btn-outline-secondary">팔로우 취소</button>
    {% else %}
      <button>팔로우</button>
    {% endif %}
  </form>
  {% endif %}
</div>
</div>



<p>{{ person.username }}님의 총 영화 감상시간은 {{ user_runtime }}시간</p>

<a href="{% url 'movies:home' %}">Home</a>
<hr>
{{ person.review_set.all|length }} 평가 | <span id="followings">{{ person.followings.all|length }}</span> 팔로잉 | <span id="followers">{{ person.followers.all|length }}</span> 팔로워


<hr>
<h2>{{person.username}} 님이 평가한 영화 목록</h2>
<ul>
  {% for review in person.review_set.all %}
    <a href="{% url 'community:detail' review.pk %}">
    <img src="{{ review.movie.poster_path }}" alt="" width="300px" height="400px">
    {{ review.movie.title }}
    </a>
  {% empty %}
  <li>글이 아직 없어요.</li>
  {% endfor %}
</ul>
<hr>

<h2>댓글 목록</h2>
<ul>
  {% for comment in person.comment_set.all %}
    <li>{{ comment.content }}</li>
  {% empty %}
    <li>댓글이 아직 없어요.</li>
  {% endfor %}
</ul>
<hr>

<h2>보고싶어요 한 영화 목록</h2>
<ul>
  {% for want_movie in person.want_movies.all %}
    <a href="{% url 'movies:detail' want_movie.pk %}">
    <img src="{{ want_movie.poster_path }}" alt="" width="300px" height="400px">
    {{ want_movie.title }}
    </a>
  {% empty %}
    <li>보고싶어요 한 영화가 아직 없어요.</li>
  {% endfor %}
</ul>

<div style="width: 900px; height:900px;">
    <canvas id="rankChart"></canvas>
</div>

{% endblock content %}


{% block script %}
<script>

const form = document.querySelector('#follow-form')
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

form.addEventListener('submit', (event) => {
  event.preventDefault()
  axios({
    method: 'POST',
    url: form.action,
    headers: {
      'X-CSRFToken': csrftoken
    }
  })
  .then(res => {
    const btn = form.querySelector('button')
    if (res.data.is_follow) {
      btn.innerText = '팔로우 취소'
    } else {
      btn.innerText = '팔로우'
    }

    const followers = document.querySelector('#followers')
    const followings = document.querySelector('#followings')

    followers.innerText = res.data.cnt_follower
    followings.innerText = res.data.cnt_following

  })
  .catch(err => {
    console.log(err)
  })

})


// chart
const ctx = document.getElementById('rankChart').getContext('2d');
console.log(data)
  const rankChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['d','d','d','d','d'],
          datasets: [{
              label: '# of Votes',
              data: [1,2,3,4,5],
              borderColor: [
                  'rgb(75, 192, 192)',
              ],
              fill: true,
              lineTension: 0.5
          }]
      },
  });


</script>
{% endblock script %}