{% extends 'base.html' %}
{% block content %}

<br><br><br><br>
<div class="container d-flex justify-content-center">
<h2>회원정보 수정</h2>

<hr>
<form action="" enctype="multipart/form-data" method="POST">
{% csrf_token %}
{{ user_change_form.as_p }}
<br>
{{ profile_form.as_p }}
<button class="btn btn-link text-decoration-none">Edit</button>
<a class="btn btn-link text-decoration-none" href="{% url 'movies:home' %}">Home</a>
</form>
<form action="{% url 'accounts:delete' %}"method="POST">
{% csrf_token %}
<br><br><br><br><br>
<button class="btn btn-link text-decoration-none">Delete</button>
</div>
{% endblock content %}